<div [class] = "buttonClass" *ngIf = "visibility">
    <button *ngIf = "!dialogButton" appPreventMultipleClick (throttledClick)="onClickButton($event)"  mat-raised-button  [hidden]="hidden" [type]='type' [class]="class"  [disabled]='disabled'
      [attr.isIconButton]='isIconButton' [attr.isRoundButton]='isRoundButton' [style]='inputStyles' class = "body">
      <mat-icon *ngIf = "isIcon" [attr.iconPosition]='iconPosition' [class]="iconClass" [svgIcon]="icon">{{icon}}</mat-icon> 
      {{text}}
    </button>
    <button *ngIf = "dialogButton" [class]="inputClass" mat-raised-button  [disabled]="!disableClose ? disabled : false">{{text}}</button>
  </div>
